@import url("https://use.typekit.net/jdu8pvr.css");

.team-enter {
  height: 0 !important;
  opacity: 0.01;
}

.team-enter.team-enter-active {
  height: 12rem !important;
  opacity: 1;
  transition: height 0.3s ease-in, opacity 0.2s ease-in 0.3s;
}

/* .example-leave {
  opacity: 1;
  height: 56rem !important;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  height: 0 !important;
  transition: opacity 0.2s ease-in, height 0.3s ease-in 0.2s;
} */
